msal==1.24.1
numpy==1.26.4
openai==1.45.0
pandas==2.0.2
pinecone==5.1.0
plotly==5.23.0
pymongo==4.8.0
pytz==2023.3
Requests==2.32.3
semantic_router==0.0.65
spacy==3.7.6
st_pages==1.0.1
streamlit==1.38.0
websocket_client==0.58.0
